.adminUsersContainer {
  width: 80%;
  min-height: 100vh;
  max-height: 100%;
  margin-top: 10px;
}
.adminUsersContainer .both{
    display: flex;
    gap: 5px;
}
.adminUsersContainer table {
  width: 97.5%;
  height: fit-content;
  border-collapse: collapse;
  margin-top: 5px;
  text-align: center;
}
.adminUsersContainer table th,
.adminUsersContainer table td {
  padding: 11.5px;
  border: 0;
}
.adminUsersContainer th {
  background-color: rgba(255, 255, 255, 0.781);
  border-bottom: 1px solid #6b6b6b49 !important;
  text-transform: capitalize;
}
.adminUsersContainer table tr {
  position: relative;
}
.adminUsersContainer table tr:hover {
  background-color: rgba(255, 255, 255, 0.377);
  cursor: pointer;
}
