
.adminPanelContainer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.adminPanelContainer{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    gap: 50px;
}

@media (max-width: 768px) {
    .adminPanelContainer {
        flex-direction: column;
        gap: 20px;
    }
}
