.dachbordContainer {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  margin-top: 25px;
}
.generalInfos {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}
.generalInfos label {
  font-weight: 550;
}
.generalInfos input,
.generalInfos textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 110px;
  padding: 15px;
  outline: 0;
  border-radius: 10px;
  border: 0;
  margin-top: 7px;
  transition: .5s ease;
}
.generalInfos input:focus,.generalInfos textarea:focus {
  box-shadow: 2px 2px 20px rgba(136, 136, 136, 0.205);
  transform: translateY(-2px);
}
.generalInfos textarea {
  resize: none;
}
.sizesBtns {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.sizeBtn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  padding: 25px;
}
.selectedSize {
  background-color: #1a4c6180;
  color: #fff;
  box-shadow: 4px 5px 10px rgba(136, 136, 136, 0.603);
}
.otherInfos {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}
.addProductInofs {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.addProductInofs div {
  width: 47%;
}
.addProductInofs input {
  width: 100%;
  padding: 15px;
  outline: 0;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 255, 255);
  transition: .5s ease;
  margin-top: 7px;
}
.addProductInofs input:focus {
  box-shadow: 2px 2px 20px rgba(136, 136, 136, 0.205);
  transform: translateY(-2px);

}

.dachbordContainer form {
  display: flex;
  justify-content: start;
}
.dachbordContainer .formRightSide {
  width: 60%;
  padding: 20px;
  padding-top: 7px;
}

.custum-file-upload {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #f1f1f188;
  padding: 1.5rem;
  border-radius: 10px;
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}
.custum-file-upload img {
  width: 300px;
  height: 160px;
  object-fit: contain;
}
.otherImgs label {
  width:125px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #f1f1f188;
  background-color: rgba(255, 255, 255, 0.192);
  color: rgba(75, 85, 99, 1);
  font-size: 1.6rem;
  border-radius: 10px;
  cursor: pointer;
}
.otherImgs label span {
  font-weight: 550;
  border-radius: 50%;
  padding: 20px;
}
.otherImgs input {
  display: none;
}
.formRightSide .otherImgs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}
.otherimgswrapper{
    width:125px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 10px;
    position: relative;
    margin-left: 6.5px;
}
.formRightSide .otherImgs img {
    width: fit-content;
    height: 130px;
    object-fit: contain;
    border-radius: 10px;
    padding: 5px;
}
.formRightSide .otherImgs .deleteImg{
    color: rgba(143, 143, 143, 0.788);
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0;
    
}
.fancy{
    display: flex;
    align-items: center;
    width: 150px;
    padding: 9px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    float: right;
    margin-bottom: 6px;
    background-color: #357f9ecb;
    color: #fff;
}
.errorInp{
    color: rgba(241, 48, 48, 0.863);
    margin:4px 10px;
}