.adminSideBar{
    width: 20%;
    height: 90vh;
    background-color:#fff ;
    color: #1d546c;
    border-radius: 8px;
    margin: 0;
    position: sticky;
    top: 0px;

}
.adminSideBar h1{
    padding:25px 5px 0 24px;
}
aside{
    margin: 0;
    padding: 0;
}
.sideLinks{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sideLinks a{
    text-decoration: none;
    color: #000;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 30px;
}
.sideLinks svg{
    color: #1a5b77;
}
.activeLink{
    background-color: #8cc1d818;
    width: 100%;
    padding: 10px 30px !important;
}

@media (max-width: 768px) {
    .adminSideBar {
        width: 100%;
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sideLinks {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}