@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "heyam";
  src: url("fonts/font.ttf") format("truetype");
}
@font-face {
  font-family: "flight";
  src: url("fonts/June\ in\ Rock\ -\ Personal\ Use.otf") format("truetype");
}


body {
  background-color: #c7d3d8da;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.listingsContainer::-webkit-scrollbar {
  width: 10px;

  display: none;
}
